<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.synavos.ams">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceMS"
        tools:ignore="AllowBackup">

        <activity android:name="com.synavos.ams.activities.faculty_activities.FacultyPanelActivity" />
        <activity android:name="com.synavos.ams.activities.admin_activities.modules.ViewTeachersActivity" />
        <activity android:name="com.synavos.ams.activities.admin_activities.modules.AddEmployeeActivity" />
        <activity android:name="com.synavos.ams.activities.studentActivities.StudentPanelActivity" />
        <activity android:name="com.synavos.ams.activities.admin_activities.modules.ViewStudentsActivity" />
        <activity android:name="com.synavos.ams.activities.admin_activities.modules.AddStudentActivity" />
        <activity android:name="com.synavos.ams.activities.admin_activities.modules.AdminPanelActivity" />
        <activity android:name="com.synavos.ams.activities.signInActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>