<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendacems">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendaceMS">
        <activity android:name=".Practice"></activity>
        <activity android:name=".activities.FacultyModules.FacultyPanel" />
        <activity android:name=".activities.AdminModules.View_teachers" />
        <activity android:name=".activities.AdminModules.AddEmployee" />
        <activity android:name=".activities.Commnon.ViewPersonalAttendance" />
        <activity android:name=".activities.StudentModules.StudentPanel" />
        <activity android:name=".activities.AdminModules.View_Students_and_Teacher" />
        <activity android:name=".activities.AdminModules.AddStudent" />
        <activity android:name=".activities.AdminModules.AdminPanel" />
        <activity android:name=".activities.SignUp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>