<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.synavos.AttendanceManagementSystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendaceMS">
        <activity android:name=".Practice"></activity>
        <activity android:name="com.synavos.AttendanceManagementSystem.activities.facultyActivities.FacultyPanel" />
        <activity android:name="com.synavos.AttendanceManagementSystem.activities.adminActivities.modules.viewTeachersActivity" />
        <activity android:name="com.synavos.AttendanceManagementSystem.activities.adminActivities.modules.addEmployeeActivity" />
        <activity android:name="com.synavos.AttendanceManagementSystem.activities.commnon.ViewPersonalAttendance" />
        <activity android:name="com.synavos.AttendanceManagementSystem.activities.studentActivities.studentPanelActivity" />
        <activity android:name="com.synavos.AttendanceManagementSystem.activities.adminActivities.modules.viewStudentsActivity" />
        <activity android:name="com.synavos.AttendanceManagementSystem.activities.adminActivities.modules.addStudentActivity" />
        <activity android:name="com.synavos.AttendanceManagementSystem.activities.adminActivities.modules.adminPanelActivity" />
        <activity android:name="com.synavos.AttendanceManagementSystem.activities.signInActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>